{% extends 'base.html' %}

{% block content %}

<section class="our-log bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <div class="login_form inner_page">

```
                <form method="post">
                    {% csrf_token %}

                    <style>
                        input {
                            height: 40px;
                            width: 100%;
                        }
                        label {
                            margin-bottom: 0;
                        }
                    </style>

                    <div class="heading">
                        <h3 class="text-center">Forgot Password</h3>
                        <p class="text-center">
                            Enter your email to receive OTP
                        </p>
                    </div>

                    <label>Email Address</label>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-center text-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-log btn-block btn-thm2">
                        Send OTP
                    </button>

                    <div class="text-center mt-3">
                        <a href="{% url 'accounts:login' %}">Back to Login</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
```

</section>

{% endblock %}
