{% extends 'base.html' %}

{% block content %}

<section class="our-log bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <div class="login_form inner_page">

```
                <form method="post">
                    {% csrf_token %}

                    <style>
                        input {
                            height: 40px;
                            width: 100%;
                        }
                    </style>

                    <div class="heading">
                        <h3 class="text-center">Reset Password</h3>
                        <p class="text-center">
                            Enter your new password
                        </p>
                    </div>

                    <label>New Password</label>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="New password" required>
                    </div>

                    <label>Confirm Password</label>
                    <div class="form-group">
                        <input type="password" name="confirm" class="form-control" placeholder="Confirm password" required>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-center text-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-log btn-block btn-thm2">
                        Reset Password
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>
```

</section>

{% endblock %}
